@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow: hidden;
}
@keyframes textFade {
  0% { color: white; }
  100% { color: black; }
}
#kdns-text {
  animation: textFade 3s forwards;
  animation-delay: 2s;
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fade-out {
  animation: fadeOut 4s forwards 1s;
}
